[submodule "deps/mecanum_LTV_OCP"]
	path = deps/mecanum_LTV_OCP
	url = https://github.com/FTC-SigmaCorns-22377/mecanum_LTV_OCP
	branch = main
[submodule "deps/mecanum_trajopt"]
	path = deps/mecanum_trajopt
	url = https://github.com/FTC-SigmaCorns-22377/mecanum_trajopt
	branch = main
[submodule "deps/decode_estimator"]
	path = deps/decode_estimator
	url = https://github.com/FTC-SigmaCorns-22377/decode-estimator.git
	branch = main
[submodule "deps/shooter_id_vision_system"]
	path = deps/shooter_id_vision_system
	url = https://github.com/tanayvin1216/FTCDecodeVision.git
