[submodule "deps/mecanum_LTV_OCP"]
	path = deps/mecanum_LTV_OCP
	url = https://github.com/FTC-SigmaCorns-22377/mecanum_LTV_OCP
[submodule "deps/mecanum_trajopt"]
	path = deps/mecanum_trajopt
	url = https://github.com/FTC-SigmaCorns-22377/mecanum_trajopt
